#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}



.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  z-index: 998;

  .footer-text{
    color: #e6ab24;
    font-size: 10px;
    font-family: 'Poppins';

    .footer-rights{
      color: white;
    }
  }

}

.logo { 
  display: block;
  position: relative;
  top: 10px;



  img {
    display: block; 
    width: 50px; 
    margin: 10px 10px;
    height:  42px;
    
  }

}