.about-page{
  .text-zone{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 35%;
    vertical-align: middle;
    max-height: 90%;
    display: table-cell;
  }

}

.fade{
  animation: fadeIn 1s 0.2s backwards;
}