  .wrapper { 
   position: absolute; 
   margin-bottom: 50px;
   top: 15%;
   left: 10%;
   bottom: 10%;
   right: 10%;
   animation: fadeIn 1s 0.2s backwards;

  }

  .hamburger-icon, .close-icon{
    display: none;
  }

  .wrappers{
    display: none;
  }

.navigation-buttons{
  height: 50px;  
  width: 100%;
  display: flex;
  list-style-type: none;
  margin-right: auto;
  padding: 0;
  flex: auto;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
  position: relative;
}


.nav-label{ 
  display: flex;
  flex-direction: row;
  width: auto;
  height: 50px;
  margin-right: 70px;
  align-items: center;
 
  
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
 color: white;
}

a:hover {
  text-decoration: none;
}

a.active {
  .headers::after{
    width: 70%;
  }
}



.headers{ 
  color: white;
  margin-top: 6px; 
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
  position: relative;
  opacity: 0.85;
}

.headers::after{
  content: '';
  position: absolute;
  height: 1.8px;
  left: 0;
  bottom: 0;
  width: 0;
  background: #e6ab24;
  transition: width .3s;
}

.nav-label:hover { 
  .headers::after{
    width: 70%;
  }
  .headers{
    opacity: 1;
  }
}

.media-link{
  margin-top: 3px;
}

.contact-options{
  position: relative;
  top: 40%;
}

@media (max-width: 768px) {
  .hamburger-icon, .close-icon{
    display: block;
    position: fixed;
    top: 2.5%;
    background-color: transparent;
    color: white;
    right: 2%;
    border-style: none;
    z-index: 997;
  }

  .wrapper{
    display: none;
  }

  .wrappers{
    display: block;
    margin: 0px;
    padding: 0px;
    
    
  }

  .navigation-button{
    
    
    display: flex;
    z-index: 997;
    padding: 0;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: -1%;
    left: 4%;
    list-style-type: none;
    
    
  }

  .nav-label{ 
    z-index: 997;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 55px;
    margin-right: 20px;
    align-items: center;
    
   
   
    
  }

  .hamburger-background{
    position: fixed; /* Position it fixed to cover the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 995;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s 0.1s backwards;
    
  }





 
}